// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_carousel.scss';
@import '~bootstrap-duration-picker/dist/bootstrap-duration-picker.css';
//bootstrap-switch
@import '~bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css';
//@import '~bootstrap-switch-button/css/bootstrap-switch-button.min.css';
//adminlte
@import '~admin-lte/dist/css/adminlte.css';
//jquery
@import '~jquery-ui/themes/base/all.css';
@import '~jquery-ui/themes/base/spinner.css';
//select2
@import '~select2/dist/css/select2.min.css';
@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css';
@import '~@ttskch/select2-bootstrap4-theme/src/layout.scss';
@import '~@ttskch/select2-bootstrap4-theme/src/_multiple.scss';
@import '~@ttskch/select2-bootstrap4-theme/src/_single.scss';
//fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
/*==============================
      for admin dashboard
==============================*/
input[type='file']{
  font-size: 14px;
  padding:3px;
}
.image_upload{
  position: absolute;
  bottom: 0px;
  left: 10%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}
p{
  font-family: 'Lora', serif;
}
a{
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
.row{
  margin:0 auto;
  max-width: 62.5rem;
  width: 100%;
}
.section-caption{
  margin-bottom: 80px;
  text-align: center;
}
.section-caption h1{
  text-transform: uppercase;
}
.navbar-dark{
  background-color:#385963;
  //background-color:#699DB3;
}

.nav-link{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
/*==============================
      header
==============================*/
header.masthead h1 {
  font-size: 2.25rem;//1rem=16px
}
.btn-xl{
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}
.btn-primary{
  background-color:#699DB3 ;
}

/*==============================
      section(movies)
==============================*/
#movies .movies-info{
  background-color:#699DB3;
  border-radius:10px;
  padding:8px;
}
#movies .movies-info h3{
  padding-top:5px;
  color:#fff;
  }
#movies .movies-info p{
padding-top:8px;
color:#fff;
}
#movies .movies-info i{
margin-right:5px;
background-color:#fff;
color:#699DB3;
padding:8px;
border-radius:100%;
}
.cropped-image{
  width:100%;
  height:200px;
  overflow:hidden;
}
.cropped-image img{
  margin: -180px 0px 0px 0px;
}
.card-body{
  padding:1rem;
}
.card-title a{
  font-size:1.375rem;
  font-weight:weight;
  color:#385963;
}

.card-text ul li{
  font-size:1.0625rem;
}
.error{
  height:80px;
  background-color:#eee;
}
.cropped-image:hover img{
  -webkit-transform: scale(1.2);
  -webkit-transition: all .4s ease;
}
.card-text ul li{
  margin-bottom:2px;
}
.card-text ul li i{
  color:#699DB3;
}

.see-more a{
  background:#B0AA5B;
  padding:0.75rem;
  border-radius:30px;
}

/*==============================
      section(Cinemas)
==============================*/

.cinema-cropped-image{
  width:100%;
  height:100px;
  overflow:hidden;
}
.cinema-cropped-image img{
  margin:-90px 0px 0px 0px;
}
#cinemas .card-title{
  font-size:1.25rem;
}
#cinemas .card-body{
  position:relative;
}
#cinemas .card:hover{
  box-shadow: 0 0 15px #acacac;
}
.card-body>a{
  position:absolute;
  bottom:10px;
  right:10px;
  background-color:#385963;
  border-radius:100%;
}
.card-body>a:hover{
-webkit-transform: translateY(-5px);
-webkit-transition: all .5s ease;
}
.card-body>a>i{
  font-size:16px;
  padding:6px;
  color:#fff;
}

/*==============================
      section(Services)
==============================*/
#services{
  padding:60px 0;
}
.bg-gray-darker{
  background-color:#8DB8A0;
  
}
#services .services-caption{
  text-transform:uppercase;
}
#services .services-body{
  margin-top:50px;
}
#services .services-body .services-box{
  padding: 20px 15px;
  border-radius: 8px;
  border: 1px solid #fff;
  transition: 450ms ease-in-out;
  margin-bottom: 20px;
  height:auto;
  overflow: hidden;
}
#services .services-body .services-box:hover{
  background-color:#8CB884;
  -webkit-transform: translateY(-20px);
  -webkit-transition: all .5s ease;
}
#services .services-box .services-icon>i{
  font-size:30px;
}
#services .services-box .services-title{
  margin-top:15px;
  font-size:18px;
  font-weight:400px;
  font-family:'Nunito', sans-serif;
}
hr{
   border-top:1px solid #ededed;
   opacity:0.5;
}
//==============================================
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .cropped-image img{
    margin: -120px 0px 0px 0px;
  }
  .card-title a{
    font-size:1.25rem;
    font-weight:weight;
  }
  .card-text ul li{
    font-size:1rem; 
  }
  .cinema-cropped-image img{
    margin:0px 0px 0px 0px;
  }
  #cinemas .card-title{
    font-size:1rem;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .cropped-image img{
      margin: -100px 0px 0px 0px;
    }
    .card-title a{
      font-size:1.375rem; 
      font-weight:weight;
    }
    .card-text ul li{
      font-size:0.875rem; 
    }
    .error{
      height:100px;
    }
    #cinemas .card-title{
      font-size:1.125rem;
    }
    #services .services-body .services-box{
      height: 250px;
    }
    #services .services-box .services-icon>i{
      font-size:35px;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  .cropped-image img{
    margin: -90px 0px 0px 0px;
  }
  .card-title a{
    font-size:1.4375rem;
    font-weight:weight;
  }
  .card-text ul li{
    font-size:0.8rem;
  }
  .error{
    height:150px;
  }
  #cinemas .card-title{
    font-size:0.875rem;
  }
  #services .services-body .services-box{
    padding:40px 25px 45px;
    height: 350px;
  }
  #services .services-box .services-icon>i{
    font-size:40px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
  .cropped-image img{
    margin: -80px 0px 0px 0px;
  }
  #services .services-body .services-box{
      padding:40px 30px 45px;
  }
  
}