// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_carousel.scss';
@import '~bootstrap-duration-picker/dist/bootstrap-duration-picker.css';
//bootstrap-switch
@import '~bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css';
//@import '~bootstrap-switch-button/css/bootstrap-switch-button.min.css';
//adminlte
@import '~admin-lte/dist/css/adminlte.css';
//jquery
@import '~jquery-ui/themes/base/all.css';
@import '~jquery-ui/themes/base/spinner.css';
//select2
@import '~select2/dist/css/select2.min.css';
@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css';
@import '~@ttskch/select2-bootstrap4-theme/src/layout.scss';
@import '~@ttskch/select2-bootstrap4-theme/src/_multiple.scss';
@import '~@ttskch/select2-bootstrap4-theme/src/_single.scss';
//fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}
p{
  font-family: 'Lora', serif;
}
a{
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
nav{
  background-color:#385963;
  //background-color:#699DB3;
}
input[type='file']{
    font-size: 14px;
    padding:3px;
  }
.image_upload{
    position: absolute;
    bottom: 0px;
    left: 10%;
}
.nav-link{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

header.masthead h1 {
  font-size: 2.25rem;//1rem=16px
}
.btn-xl{
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}
.btn-primary{
  background-color:#699DB3 ;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}