// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/_carousel.scss';
@import '~bootstrap-duration-picker/dist/bootstrap-duration-picker.css';
//bootstrap-switch
@import '~bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css';
//@import '~bootstrap-switch-button/css/bootstrap-switch-button.min.css';
//adminlte
@import '~admin-lte/dist/css/adminlte.css';
//jquery
@import '~jquery-ui/themes/base/all.css';
@import '~jquery-ui/themes/base/spinner.css';
//select2
@import '~select2/dist/css/select2.min.css';
@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css';
@import '~@ttskch/select2-bootstrap4-theme/src/layout.scss';
@import '~@ttskch/select2-bootstrap4-theme/src/_multiple.scss';
@import '~@ttskch/select2-bootstrap4-theme/src/_single.scss';
//fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

//datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

input[type='file']{
  font-size: 14px;
  padding:3px;
}
.image_upload{
  position: absolute;
  bottom: 0px;
  left: 10%;
}